{{ define "home" }}
<!DOCTYPE html>
<html>
    <head>
        <title> Game Database </title>
        {{ template "bootstrap" }}
    <body>
        <div class="container">
            {{ template "menu" }}
            <div class="page-header">
                <h1>Game Database</h1>
            </div>
            <p>
                Welcome to the game database, here you can contribute to the
                database by adding any game you want or you can search for any
                games that you have in mind.
            </p>
        </div>
    </body>
</html>
{{ end }}
