{{ define "home" }}
<!DOCTYPE html>
<html>
    <head>
        <title> Game Database </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            {{ template "menu" }}
            <div class="page-header">
                <h1>Game Database</h1>
            </div>
            <p>
                Welcome to the game database, here you can contribute to the
                database by adding any game you want or you can search for any
                games that you have in mind.
            </p>
        </div>
    </body>
</html>
{{ end }}
