{{ define "error" }}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {{ template "bootstrap" }}
        <title>Error</title>
    </head>
    <body>
        <div class="container">
            {{ template "menu" }}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Error</h3>
                </div>
                <div class="panel-body">
                    <p>Oops, looks like there was an error, please try again later</p>
                </div>
            </div>
        </div>
    </body>
</html>
{{ end }}
