{{ define "title" }}
    <title> Search By Developer </title>
{{ end }}

{{ define "body" }}
    <div class="page-header">
        <h3>Search for games created by a specific developer</h3>
    </div>
    <form action="http://localhost:8081/search/developer" method="get">
        <div class="form-group">
            <label for="developer">Developer:</label>
            <input type="text" class="form-control" placeholder="Enter developer name" name="developer">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Search
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>
{{ end }}
