{{ define "title" }}
    <title> Search By Title </title>
{{ end }}

{{ define "body" }}
    <div class="page-header">
        <h3>Search for a game by its title</h3>
    </div>
    <form action="http://localhost:8081/search/title" method="get">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" placeholder="Enter title" name="title">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Search
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>
{{ end }}
